*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: aliceblue;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: darkgray;
}
.container{
    height: 100%;
    min-height: 80vh;
    width: 88vw;
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid wheat;
    box-shadow: 5px 5px 15px -1px rgb(59, 56, 56);
    overflow: scroll;
}
h3{
    color: white;
    margin: 4px;
}
.input-ui{
    background-color: #c59aa0;
    background-image: linear-gradient(315deg,#eec0c6 0%,#589fac 74%);
    text-align: center;
    height: 120px;
    padding: 15px;
    margin-bottom: 1px;
}
input{
    padding: 6px;
    border: none;
    border-radius: 3px;
    height: 40px;

}

input:focus{
    outline: none;
    border: solid 1px lightblue;
}

input[type=submit]{
    background-color: lightgreen;
    color: aliceblue;
    border-radius: 3px;
}

.output-ui{
    min-height: 520px;
    background-color: white;
}
.output-ui ul{
    list-style: none;
    padding: 20px;
}
.output-ui ul li{
    margin: 0.8rem;
    border-bottom: solid 0.1px rgb(206, 199, 187);
    display: flex;
    justify-content: space-between;

}

a{
    text-decoration: none;
    margin-left: 15px;
    cursor: pointer;
}
a:hover{
    opacity: 0.6%;
    color: green;
}
.filter{
    background-color: rgb(247,247,247);
    margin: 2%;
}
.msg{
    background-color: rgb(247,247,247) ;
    height: 200px;
    color: grey;
    margin: 2rem;
    padding-top: 4rem;
    text-align: center;
}
.cleare-tasks{
    background-color: lightcoral;
    color: wheat;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
.cleare-tasks:hover{
    color: lightcoral;
    background-color: rgb(247,247,247)
}

input[type=submit]:hover{
    background-color: white;
    color: gray;
    transition: all 500ms ease-in-out ;
} 


.hied{
    display: none;

}

